* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --borderColor: #572EE5;
  --borderInput: #572EE5;
  --colorLetra: #572EE5;
  --backBtnWhite: white;
  --backBtnPurple: #572EE5;
  --BackBody: white;
  --backTrending: #F3F5F8;
}

body {
  background-color: var(--BackBody);
}

header {
  /* position: fixed; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 4px solid var(--borderColor);
}

header .img {
  width: 10%;
  margin-left: 6.5rem;
  margin-top: 1.2rem;
}

header .search {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9CAFC3;
  margin-top: 1.4rem;
}

header .search input {
  width: 20.8rem;
  height: 3.2rem;
  font-size: 1rem;
  line-height: 1.2rem;
  border-radius: 2.5rem;
  border: 1px solid var(--borderInput);
}

header .search_img img {
  position: relative;
  top: 1rem;
  right: 2.5rem;
}

header .nav {
  width: 40%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--colorLetra);
  font-size: 1rem;
  line-height: 1rem;
  margin-right: 6.2rem;
}

header .nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .nav nav ul {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
}

header .nav nav ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style: none;
}

header .nav nav ul li input {
  display: none;
}

header .nav nav ul li label {
  cursor: pointer;
}

header .nav nav .btn {
  margin-left: 2rem;
  margin-top: 1.3rem;
}

header .nav nav .btn button {
  background-color: var(--BackBody);
  border: 1px solid var(--borderInput);
  color: var(--colorLetra);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 1rem;
}

header .nav nav .btn button:hover {
  color: var(--backBtnWhite);
  background-color: var(--backBtnPurple);
}

.mainPage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPage .title {
  margin-top: 4.7rem;
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--colorLetra);
}

.mainPage .title :last-child {
  text-align: center;
}

.mainPage .title a {
  color: #50E3C2;
}

.mainPage .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.5rem;
}

.mainPage .search_img-central {
  margin: auto;
}

.mainPage .search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainPage .search_bar input {
  width: 37.5rem;
  height: 3.2rem;
  border-radius: 2.5rem;
  background-color: var(--BackBody);
  border: 1px solid var(--borderInput);
  color: #9CAFC3;
  font-size: 1rem;
  line-height: 1,2rem;
}

.mainPage .search_bar .search_img {
  cursor: pointer;
  position: relative;
  top: 1rem;
  right: 2.5rem;
}

.mainPage .search_bar .search_img img {
  pointer-events: none;
}

.mainPage .trending {
  margin-top: 4.5rem;
}

.mainPage .trending :first-child {
  text-align: center;
}

.mainPage .trending p {
  font-family: 'Montserrat', sans-serif;
  font-weight: medium;
  color: var(--colorLetra);
  margin: 1rem;
}

.mainPage .gifCtn {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--colorLetra);
}

.mainPage .gifCtn hr {
  visibility: hidden;
  margin: auto;
  width: 40%;
  margin-top: 2.5rem;
  border: 1px solid #9CAFC3;
}

.mainPage .gifCtn .title {
  margin-top: 5rem;
  margin-bottom: 3.5rem;
  text-align: center;
}

.mainPage .gifCtn .gifBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.8rem;
  margin: 0px 8.2rem;
}

.mainPage .gifCtn .gifBox .box {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 14.5rem;
  height: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainPage .gifCtn .gifBox .box .box_li {
  z-index: 2;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainPage .gifCtn .gifBox .box .box_li_btn_heart, .mainPage .gifCtn .gifBox .box .box_li_btn_down, .mainPage .gifCtn .gifBox .box .box_li_btn_max {
  margin-top: 0.6rem;
  margin-right: 0.6rem;
}

.mainPage .gifCtn .gifBox .box .box_li_btn_heart button, .mainPage .gifCtn .gifBox .box .box_li_btn_down button, .mainPage .gifCtn .gifBox .box .box_li_btn_max button {
  border: none;
  opacity: 0.7;
  background: #FFFFFF;
  border-radius: 0.4rem;
  width: 2rem;
  height: 2rem;
}

.mainPage .gifCtn .gifBox .box .box_li_btn_heart button:hover, .mainPage .gifCtn .gifBox .box .box_li_btn_down button:hover, .mainPage .gifCtn .gifBox .box .box_li_btn_max button:hover {
  opacity: 1;
}

.mainPage .gifCtn .gifBox .box .box_autor {
  z-index: 2;
  visibility: hidden;
  margin-left: 1rem;
  margin-bottom: 1.2rem;
  color: #FFFFFF;
}

.mainPage .gifCtn .gifBox .box .box_autor .p {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.mainPage .gifCtn .gifBox .box {
  position: relative;
}

.mainPage .gifCtn .gifBox .box:hover .box_autor {
  visibility: visible;
}

.mainPage .gifCtn .gifBox .box:hover .box_li {
  visibility: visible;
}

.mainPage .gifCtn .gifBox .box:hover::before {
  content: "";
  width: 14.5rem;
  height: 12.5rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #572EE5;
  opacity: 0.7;
  z-index: 1;
}

.mainPage .gifCtn .btn-moreGif {
  margin-top: 4.5rem;
  margin-bottom: 1.8rem;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainPage .gifCtn .btn-moreGif button {
  cursor: pointer;
  color: #572EE5;
  font-weight: bold;
  width: 6.8rem;
  height: 2.8rem;
  border-radius: 1.5rem;
  border: 1px solid #572EE5;
}

.mainPage .gifCtn .btn-moreGif button:hover {
  color: white;
  background-color: #572ee5;
}

.favoritePage {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.misGifPage {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendingBox {
  height: 37.5rem;
  background-color: var(--backTrending);
}

.trendingBox .trendingSection {
  position: relative;
  top: 4.5rem;
}

.trendingBox .trendingSection_Title {
  text-align: center;
}

.trendingBox .trendingSection_Title :first-child {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--colorLetra);
}

.trendingBox .trendingSection_Carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.trendingBox .trendingSection_Carousel .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendingBox .trendingSection_Carousel .btn button {
  cursor: pointer;
  color: var(--colorLetra);
  background-color: var(--backTrending);
  border: 1px solid var(--borderInput);
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.trendingBox .trendingSection_Carousel .btn button:hover {
  background-color: var(--backBtnPurple);
  color: var(--backBtnWhite);
}

.trendingBox .trendingSection_Carousel .carousel {
  width: 80%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 30%;
  height: 15.5rem;
  margin: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box .box_li {
  z-index: 2;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box .box_li_btn {
  margin-top: 0.6rem;
  margin-right: 0.6rem;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box .box_li_btn button {
  border: none;
  opacity: 0.7;
  background: #FFFFFF;
  border-radius: 6px;
  width: 2rem;
  height: 2rem;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box .box_li_btn button:hover {
  opacity: 1;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box .box_autor {
  z-index: 2;
  visibility: hidden;
  margin-left: 1rem;
  margin-bottom: 1.2rem;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box .box_autor .p {
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 0.1875rem;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box {
  position: relative;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box:hover .box_autor {
  visibility: visible;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box:hover .box_li {
  visibility: visible;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #572EE5;
  opacity: 0.7;
  z-index: 1;
}

.ctnModal {
  z-index: 1;
  position: fixed;
  /* Stay in place */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: var(--backBtnWhite);
}

.ctnModal .contentModal {
  position: relative;
  background-color: var(--backBtnWhite);
  margin: auto;
  padding: 20px;
  width: 50%;
}

.ctnModal .contentModal span {
  position: absolute;
  top: -60px;
  right: -60px;
}

.ctnModal .contentModal span button {
  cursor: pointer;
  border: none;
  background-color: var(--backBtnWhite);
  color: var(--colorLetra);
}

.ctnModal .contentModal span button i {
  font-size: 16px;
}

.ctnModal .contentModal .imgGif {
  width: 600px;
  height: 300px;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.ctnModal .contentModal .refAutorBtn {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.ctnModal .contentModal .refAutorBtn .autor {
  margin-top: 30px;
}

.ctnModal .contentModal .refAutorBtn .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
  margin-right: 10px;
}

.ctnModal .contentModal .refAutorBtn .btn button {
  opacity: 0.7;
  background: var(--backBtnWhite);
  border-radius: 6px;
  width: 32px;
  height: 32px;
}

footer {
  height: 3.5rem;
  margin-top: 3.2rem;
  border-bottom: 3px solid var(--borderColor);
  font-family: 'Roboto', sans-serif;
  font-weight: 25rem;
}

footer .shareIcon {
  margin-left: 9.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

footer .shareIcon p {
  font-size: 1.2rem;
  line-height: 1rem;
}

footer .shareIcon a img {
  margin: 0 1.25rem;
}

footer .autoRigths {
  font-size: 1rem;
  line-height: 1rem;
  margin-right: 9.2rem;
  float: right;
}

.dark-mode {
  --borderColor: #000000;
  --borderInput: #FFFFFF;
  --colorLetra: #FFFFFF;
  --backBtnWhite: #222326;
  --backBtnPurple: #FFFFFF;
  --BackBody: #37383C;
  --backTrending: #222326;
}

.createGif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.createGif .gifCam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--borderInput);
  width: 40rem;
  height: 21.3rem;
}

.createGif .gifCam .intro_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createGif .gifCam .intro_text--font25 {
  color: var(--colorLetra);
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.createGif .gifCam .intro_text--font16 {
  font-size: 1rem;
  line-height: 1.8rem;
}

.createGif .gifCam .letCam {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createGif .gifCam .letCam #camSlideText .font25 {
  text-align: center;
  color: var(--colorLetra);
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.createGif .gifCam .letCam #camSlideText .font16 {
  text-align: center;
  font-size: 1rem;
  line-height: 1.8rem;
}

.createGif .gifCam .letCam #gum {
  display: none;
}

.createGif .gifCam .recoVideo {
  display: none;
}

.controlBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controlBtn .btn button {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 50%;
  outline: none;
  color: var(--colorLetra);
  background-color: var(--backTrending);
  border: 1px solid var(--borderInput);
}

.controlBtn .btn button:hover {
  background-color: var(--backBtnPurple);
  color: var(--backBtnWhite);
}

.controlBtn .hr--border7 {
  background-color: var(--borderInput);
  width: 48rem;
  height: 0.5rem;
}

.controlBtn .btnStart {
  display: block;
}

.controlBtn .btnStart button {
  width: auto;
  margin: 1rem;
  border-radius: 30px;
  font-size: 13px;
  padding: 16px 24px;
  outline: none;
  color: var(--colorLetra);
  background-color: var(--backTrending);
  border: 1px solid var(--borderInput);
}

.controlBtn .btnStart button:hover {
  background-color: var(--backBtnPurple);
  color: var(--backBtnWhite);
}

.hoverBtnCamAct {
  background-color: var(--backBtnPurple);
  color: var(--backBtnWhite);
}
/*# sourceMappingURL=style.css.map */