* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --borderColor: #572EE5;
  --borderInput: #572EE5;
  --colorLetra: #572EE5;
  --backBtnWhite: white;
  --backBtnPurple: #572EE5;
  --BackBody: white;
  --backTrending: #F3F5F8;
  --colorLetraBlack: black;
  --colorBackMenu: rgba(87,46,229,0.90);
}

.dark-mode {
  --borderColor: #000000;
  --borderInput: #FFFFFF;
  --colorLetra: #FFFFFF;
  --backBtnWhite: #222326;
  --backBtnPurple: #FFFFFF;
  --BackBody: #37383C;
  --backTrending: #222326;
  --colorLetraBlack: white;
  --colorBackMenu: rgba(27, 27, 29, 0.9)
;
}

body {
  background-color: var(--BackBody);
}

header {
  /* position: fixed; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 4px solid var(--borderColor);
}

header .img {
  width: 10%;
  margin-left: 6.5rem;
  margin-top: 1.2rem;
}

header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  color: #9CAFC3;
  margin-top: 1.4rem;
}

header .search input {
  width: 20.8rem;
  height: 3.2rem;
  font-size: 1rem;
  line-height: 1.2rem;
  border-radius: 2.5rem;
  border: 1px solid var(--borderInput);
}

header .search_img img {
  position: relative;
  top: 1rem;
  right: 2.5rem;
}

header .nav {
  width: 40%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--colorLetra);
  font-size: 1rem;
  line-height: 1rem;
  margin-right: 6.2rem;
}

header .nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .nav nav ul {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
}

header .nav nav ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style: none;
}

header .nav nav ul li input {
  display: none;
}

header .nav nav ul li label {
  cursor: pointer;
}

header .nav nav ul li :hover {
  -webkit-text-decoration: underline #5ED7C6 3px;
          text-decoration: underline #5ED7C6 3px;
}

header .nav nav ul li :active {
  color: #9CAFC3;
}

header .nav nav .btn {
  margin-left: 2rem;
  margin-top: 1.3rem;
}

header .nav nav .btn button {
  background-color: var(--BackBody);
  border: 1px solid var(--borderInput);
  color: var(--colorLetra);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 1rem;
}

header .nav nav .btn button:hover {
  color: var(--backBtnWhite);
  background-color: var(--backBtnPurple);
}

header .nav nav .btn button:active {
  background-color: #9CAFC3;
  border: 1px solid #9CAFC3;
  color: white;
}

header .nav .menu {
  display: none;
}

header .nav .menu .gripMenu {
  display: none;
  font-size: 30px;
  position: absolute;
  right: 40px;
  top: 40px;
}

header .nav .menu .xMenu {
  display: none;
  font-size: 30px;
  position: absolute;
  right: 40px;
  top: 40px;
}

header .nav_cam {
  width: 40%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--colorLetra);
  font-size: 1rem;
  line-height: 1rem;
  margin-right: 6.2rem;
}

header .nav_cam nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .nav_cam nav .nav_darkMode {
  margin-top: 2.8rem;
  list-style: none;
}

header .nav_cam nav .nav_darkMode input {
  display: none;
}

header .nav_cam nav .nav_darkMode label {
  cursor: pointer;
}

header .nav_cam nav .nav_darkMode :hover {
  -webkit-text-decoration: underline #5ED7C6 3px;
          text-decoration: underline #5ED7C6 3px;
}

header .nav_cam nav .nav_darkMode :active {
  color: #9CAFC3;
}

header .nav_cam nav .btn_cam {
  margin-left: 2rem;
  margin-top: 1.3rem;
}

header .nav_cam nav .btn_cam button {
  background-color: var(--BackBody);
  border: 1px solid var(--borderInput);
  color: var(--colorLetra);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 1rem;
}

header .nav_cam nav .btn_cam button:hover {
  color: var(--backBtnWhite);
  background-color: var(--backBtnPurple);
}

header .nav_cam nav .btn_cam button:active {
  background-color: #9CAFC3;
  border: 1px solid #9CAFC3;
  color: white;
}

.mainPage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPage .title {
  margin-top: 4.7rem;
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--colorLetra);
}

.mainPage .title :last-child {
  text-align: center;
}

.mainPage .title a {
  color: #50E3C2;
}

.mainPage .search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5rem;
}

.mainPage .search_img-central {
  margin: auto;
}

.mainPage .search_img-central img {
  width: 399px;
  height: 190px;
}

.mainPage .search_bar {
  margin-left: 2rem;
}

.mainPage .search_bar_inputSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainPage .search_bar_inputSearch input {
  z-index: 1;
  width: 37.5rem;
  height: 56px;
  border-radius: 1.5rem;
  background-color: var(--BackBody);
  border: 1px solid var(--borderInput);
  color: var(--colorLetraBlack);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  outline: none;
  padding-left: 3.75rem;
  padding-bottom: 0px;
}

.mainPage .search_bar_inputSearch .search_img {
  display: block;
  z-index: 3;
  cursor: pointer;
  position: relative;
  top: 1.1rem;
  right: 2.5rem;
}

.mainPage .search_bar_inputSearch .search_img img {
  pointer-events: none;
}

.mainPage .search_bar_inputSearch .leftLupa {
  right: 35.8rem;
}

.mainPage .search_bar_inputSearch .x {
  display: none;
  right: 3.5rem;
}

.mainPage .search_bar_inputSearch .x i {
  font-size: 24px;
  color: var(--borderInput);
}

.mainPage .search_bar_boxHr {
  z-index: 2;
  position: relative;
  display: none;
  width: 37.5rem;
  padding: 0.875rem;
  background-color: white;
  top: -22px;
  border-left: 1px solid var(--borderInput);
  border-right: 1px solid var(--borderInput);
}

.mainPage .search_bar_boxHr hr {
  width: 33rem;
  height: 1px;
  color: #9CAFC3;
  margin: auto;
}

.mainPage .search .suggestions {
  margin-left: 2rem;
  position: absolute;
  top: 15.3rem;
}

.mainPage .search .suggestions ul {
  background-color: var(--BackBody);
  width: 37.5rem;
}

.mainPage .search .suggestions ul .itemList {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  padding-top: 15px;
  padding-bottom: 10px;
  border-left: 1px solid var(--borderInput);
  border-right: 1px solid var(--borderInput);
}

.mainPage .search .suggestions ul .itemList:last-child {
  position: relative;
  border-left: 1px solid var(--borderInput);
  border-right: 1px solid var(--borderInput);
  border-bottom: 1px solid var(--borderInput);
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.mainPage .search .suggestions ul .itemList img {
  padding-left: 25px;
  padding-right: 0px;
  cursor: pointer;
}

.mainPage .search .suggestions ul .itemList p {
  padding-left: 15px;
}

.mainPage .trending {
  margin-top: 4.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: medium;
  color: var(--colorLetra);
  text-align: center;
}

.mainPage .trending .trending_overWords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  max-width: 480px;
  min-width: 200px;
  height: 75px;
}

.mainPage .trending .trending_overWords p {
  cursor: pointer;
  font-size: 1.2rem;
}

.mainPage .trending .trending_overWords :hover {
  -webkit-text-decoration: underline #5ED7C6 3px;
          text-decoration: underline #5ED7C6 3px;
}

.mainPage .trending ::-webkit-scrollbar {
  width: 12px;
}

.mainPage .trending ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.mainPage .trending ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px var(--borderColor);
}

.mainPage .gifCtn {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--colorLetra);
}

.mainPage .gifCtn hr {
  visibility: hidden;
  margin: auto;
  width: 40%;
  margin-top: 2.5rem;
  border: 1px solid #9CAFC3;
}

.mainPage .gifCtn .title {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  text-align: center;
}

.mainPage .gifCtn .btnDiv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPage .gifCtn .btnDiv .gifBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.8rem;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.mainPage .gifCtn .btnDiv .gifBox .box {
  position: relative;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20.22vw;
  height: 16.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainPage .gifCtn .btnDiv .gifBox .box .box_li {
  z-index: 2;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainPage .gifCtn .btnDiv .gifBox .box .box_li_btn_heart, .mainPage .gifCtn .btnDiv .gifBox .box .box_li_btn_down, .mainPage .gifCtn .btnDiv .gifBox .box .box_li_btn_max {
  margin-top: 0.6rem;
  margin-right: 0.6rem;
}

.mainPage .gifCtn .btnDiv .gifBox .box .box_li_btn_heart button, .mainPage .gifCtn .btnDiv .gifBox .box .box_li_btn_down button, .mainPage .gifCtn .btnDiv .gifBox .box .box_li_btn_max button {
  border: none;
  opacity: 0.7;
  background: #FFFFFF;
  border-radius: 0.4rem;
  width: 2rem;
  height: 2rem;
}

.mainPage .gifCtn .btnDiv .gifBox .box .box_li_btn_heart button:hover, .mainPage .gifCtn .btnDiv .gifBox .box .box_li_btn_down button:hover, .mainPage .gifCtn .btnDiv .gifBox .box .box_li_btn_max button:hover {
  opacity: 1;
}

.mainPage .gifCtn .btnDiv .gifBox .box .box_autor {
  z-index: 2;
  visibility: hidden;
  margin-left: 1rem;
  margin-bottom: 1.2rem;
  color: #FFFFFF;
}

.mainPage .gifCtn .btnDiv .gifBox .box .box_autor .p {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.mainPage .gifCtn .btnDiv .gifBox .box {
  /* position: relative; */
}

.mainPage .gifCtn .btnDiv .gifBox .box:hover .box_autor {
  visibility: visible;
}

.mainPage .gifCtn .btnDiv .gifBox .box:hover .box_li {
  visibility: visible;
}

.mainPage .gifCtn .btnDiv .gifBox .box:hover::before {
  content: "";
  width: 20.22vw;
  height: 16.75rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #572EE5;
  opacity: 0.7;
  z-index: 1;
}

.mainPage .gifCtn .btnDiv .gifBox .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainPage .gifCtn .btnDiv .gifBox .hide {
  display: none;
}

.mainPage .gifCtn .btnDiv .btn-moreGif {
  margin-top: 4.5rem;
  margin-bottom: 1.8rem;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainPage .gifCtn .btnDiv .btn-moreGif button {
  cursor: pointer;
  color: var(--borderInput);
  font-weight: bold;
  width: 6.8rem;
  height: 2.8rem;
  border-radius: 1.5rem;
  border: 1px solid var(--borderInput);
}

.mainPage .gifCtn .btnDiv .btn-moreGif button:hover {
  color: var(--backBtnWhite);
  background-color: var(--backBtnPurple);
}

.mainPage .gifCtn .btnDiv .pagination .numberPaginationDiv {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainPage .gifCtn .btnDiv .pagination .numberPaginationDiv .btnNumberPagination {
  border-radius: 50%;
  border: 1px solid var(--borderInput);
  color: var(--colorLetra);
  padding: 6px 11px;
  margin-right: 12px;
  margin-bottom: 20px;
  font-size: 1.25rem;
}

.mainPage .gifCtn .btnDiv .pagination .numberPaginationDiv .hoverBtnPagination {
  background-color: var(--backBtnPurple);
  color: var(--backTrending);
}

.mainPage .gifCtn .btnDiv .pagination .numberPaginationDiv .disabled {
  border-color: gray;
  color: gray;
  pointer-events: none;
}

.mainPage .gifCtn .btnDiv .pagination .numberPaginationDiv .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainPage .gifCtn .btnDiv .pagination .numberPaginationDiv .hide {
  display: none;
}

.favoritePage {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.favoritePage .img {
  text-align: center;
}

.favoritePage .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--colorLetra);
  text-align: center;
  margin-bottom: 1rem;
}

.favoritePage .gifBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.8rem;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
}

.favoritePage .gifBox .box {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20.22vw;
  height: 16.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.favoritePage .gifBox .box .box_li {
  z-index: 2;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.favoritePage .gifBox .box .box_li_btn_heart, .favoritePage .gifBox .box .box_li_btn_down, .favoritePage .gifBox .box .box_li_btn_max {
  margin-top: 0.6rem;
  margin-right: 0.6rem;
}

.favoritePage .gifBox .box .box_li_btn_heart button, .favoritePage .gifBox .box .box_li_btn_down button, .favoritePage .gifBox .box .box_li_btn_max button {
  border: none;
  opacity: 0.7;
  background: #FFFFFF;
  border-radius: 0.4rem;
  width: 2rem;
  height: 2rem;
}

.favoritePage .gifBox .box .box_li_btn_heart button:hover, .favoritePage .gifBox .box .box_li_btn_down button:hover, .favoritePage .gifBox .box .box_li_btn_max button:hover {
  opacity: 1;
}

.favoritePage .gifBox .box .box_autor {
  z-index: 2;
  visibility: hidden;
  margin-left: 1rem;
  margin-bottom: 1.2rem;
  color: #FFFFFF;
}

.favoritePage .gifBox .box .box_autor .p {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.favoritePage .gifBox .box {
  position: relative;
}

.favoritePage .gifBox .box:hover .box_autor {
  visibility: visible;
}

.favoritePage .gifBox .box:hover .box_li {
  visibility: visible;
}

.favoritePage .gifBox .box:hover::before {
  content: "";
  width: 20.22vw;
  height: 16.75rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #572EE5;
  opacity: 0.7;
  z-index: 1;
}

.misGifPage {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.misGifPage .img {
  text-align: center;
}

.misGifPage .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--colorLetra);
  text-align: center;
  margin-bottom: 1rem;
}

.misGifPage .gifBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.8rem;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
}

.misGifPage .gifBox .box {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20.22vw;
  height: 16.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.misGifPage .gifBox .box .box_li {
  z-index: 2;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.misGifPage .gifBox .box .box_li_btn_heart, .misGifPage .gifBox .box .box_li_btn_down, .misGifPage .gifBox .box .box_li_btn_max {
  margin-top: 0.6rem;
  margin-right: 0.6rem;
}

.misGifPage .gifBox .box .box_li_btn_heart button, .misGifPage .gifBox .box .box_li_btn_down button, .misGifPage .gifBox .box .box_li_btn_max button {
  border: none;
  opacity: 0.7;
  background: #FFFFFF;
  border-radius: 0.4rem;
  width: 2rem;
  height: 2rem;
}

.misGifPage .gifBox .box .box_li_btn_heart button:hover, .misGifPage .gifBox .box .box_li_btn_down button:hover, .misGifPage .gifBox .box .box_li_btn_max button:hover {
  opacity: 1;
}

.misGifPage .gifBox .box .box_autor {
  z-index: 2;
  visibility: hidden;
  margin-left: 1rem;
  margin-bottom: 1.2rem;
  color: #FFFFFF;
}

.misGifPage .gifBox .box .box_autor .p {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.misGifPage .gifBox .box {
  position: relative;
}

.misGifPage .gifBox .box:hover .box_autor {
  visibility: visible;
}

.misGifPage .gifBox .box:hover .box_li {
  visibility: visible;
}

.misGifPage .gifBox .box:hover::before {
  content: "";
  width: 20.22vw;
  height: 16.75rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #572EE5;
  opacity: 0.7;
  z-index: 1;
}

.nofFoundImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.75rem;
}

.nofFoundImg .wordsFavorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nofFoundImg .wordsFavorites p {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #50E3C2;
  text-align: center;
}

.nofFoundImg img {
  margin-top: 2.5rem;
  margin-bottom: 1.875rem;
  width: 9.375rem;
  height: 9.375rem;
}

.nofFoundImg button {
  background-color: var(--BackBody);
  border: 1px solid var(--borderInput);
  color: var(--colorLetra);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1rem;
  margin: 2rem;
}

.nofFoundImg button:hover {
  color: var(--backBtnWhite);
  background-color: var(--backBtnPurple);
}

.trendingBox {
  height: 31rem;
  background-color: var(--backTrending);
  padding-top: 4.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.trendingBox .trendingSection_Title {
  color: var(--colorLetraBlack);
  text-align: center;
}

.trendingBox .trendingSection_Title :first-child {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.trendingBox .trendingSection_Carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.trendingBox .trendingSection_Carousel .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendingBox .trendingSection_Carousel .btn button {
  cursor: pointer;
  color: var(--colorLetra);
  background-color: var(--backTrending);
  border: 1px solid var(--borderInput);
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.trendingBox .trendingSection_Carousel .btn button:hover {
  background-color: var(--backBtnPurple);
  color: var(--backBtnWhite);
}

.trendingBox .trendingSection_Carousel .carousel {
  width: 90%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 30%;
  height: 17.375rem;
  margin: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box .box_li {
  z-index: 2;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box .box_li_btn {
  margin-top: 0.6rem;
  margin-right: 0.6rem;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box .box_li_btn button {
  border: none;
  opacity: 0.7;
  background: #FFFFFF;
  border-radius: 6px;
  width: 2rem;
  height: 2rem;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box .box_li_btn button:hover {
  opacity: 1;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box .box_autor {
  z-index: 2;
  visibility: hidden;
  margin-left: 1rem;
  margin-bottom: 1.2rem;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box .box_autor .p {
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 0.1875rem;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box {
  position: relative;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box:hover .box_autor {
  visibility: visible;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box:hover .box_li {
  visibility: visible;
}

.trendingBox .trendingSection_Carousel .carousel .ctn-slide .box:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #572EE5;
  opacity: 0.7;
  z-index: 1;
}

.ctnModal {
  z-index: 5;
  position: fixed;
  /* Stay in place */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: var(--backBtnWhite);
}

.ctnModal .contentModal {
  position: relative;
  background-color: var(--backBtnWhite);
  margin: auto;
  padding: 20px;
  width: 50%;
}

.ctnModal .contentModal span {
  top: -20px;
}

.ctnModal .contentModal span button {
  cursor: pointer;
  border: none;
  background-color: var(--backBtnWhite);
  color: var(--colorLetra);
}

.ctnModal .contentModal span button i {
  font-size: 28px;
}

.ctnModal .contentModal .imgGif {
  width: 600px;
  height: 300px;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.ctnModal .contentModal .refAutorBtn {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: var(--colorLetraBlack);
}

.ctnModal .contentModal .refAutorBtn .autor {
  margin-top: 30px;
}

.ctnModal .contentModal .refAutorBtn .autor .userData {
  font-size: 15px;
}

.ctnModal .contentModal .refAutorBtn .autor .nameData {
  font-size: 17px;
}

.ctnModal .contentModal .refAutorBtn .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-right: 10px;
}

.ctnModal .contentModal .refAutorBtn .btn button {
  background: white;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

footer .cont_ftr {
  height: 3.5rem;
  padding: 3.2rem 9.2rem;
  border-bottom: 3px solid var(--borderColor);
  font-family: 'Roboto', sans-serif;
  font-weight: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .cont_ftr .shareIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .cont_ftr .shareIcon p {
  font-size: 1.2rem;
  line-height: 1rem;
}

footer .cont_ftr .shareIcon a img {
  margin: 0 1.25rem;
}

footer .cont_ftr .autoRigths {
  font-size: 1rem;
  line-height: 1rem;
}

.camIndex {
  position: relative;
}

.camIndex .createGif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.camIndex .createGif .gifCam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--borderInput);
  width: 40rem;
  height: 21.3rem;
}

.camIndex .createGif .gifCam .intro_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.camIndex .createGif .gifCam .intro_text--font25 {
  color: var(--colorLetra);
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.camIndex .createGif .gifCam .intro_text--font16 {
  font-size: 1rem;
  line-height: 1.8rem;
}

.camIndex .createGif .gifCam .letCam {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.camIndex .createGif .gifCam .letCam #camSlideText .font25 {
  text-align: center;
  color: var(--colorLetra);
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.camIndex .createGif .gifCam .letCam #camSlideText .font16 {
  text-align: center;
  font-size: 1rem;
  line-height: 1.8rem;
}

.camIndex .createGif .gifCam .letCam #gum {
  display: none;
  z-index: -1;
}

.camIndex .createGif .gifCam .letCam .overVideoGum {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23.125rem;
  height: 18.125rem;
  top: 0;
  left: 0;
  background: #572EE5;
  opacity: 0.7;
  z-index: 1;
}

.camIndex .createGif .gifCam .letCam .overVideoGum #textContVideoGum {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  z-index: 3;
}

.camIndex .createGif .gifCam .letCam .overVideoGum .boxliUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
}

.camIndex .createGif .gifCam .letCam .overVideoGum .boxliUp_btnLink, .camIndex .createGif .gifCam .letCam .overVideoGum .boxliUp_btnDown {
  margin-left: 0.625rem;
}

.camIndex .createGif .gifCam .letCam .overVideoGum .boxliUp_btnLink button, .camIndex .createGif .gifCam .letCam .overVideoGum .boxliUp_btnDown button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  width: 2rem;
  height: 2rem;
  z-index: 3;
}

.camIndex .createGif .gifCam .letCam .overVideoGum .boxliUp_btnLink button:hover, .camIndex .createGif .gifCam .letCam .overVideoGum .boxliUp_btnDown button:hover {
  background: white;
}

.camIndex .img_oneCam {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  left: 60px;
  top: 70px;
}

.camIndex .img_oneCam .triangule {
  position: relative;
  background-color: #b0fdec;
  width: 0;
  height: 0;
  border-top: 80px solid white;
  border-right: 150px solid transparent;
  border-bottom: 80px solid white;
}

.camIndex .img_twoCam {
  position: absolute;
  right: 100px;
}

.controlBtn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controlBtn .btn button {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 50%;
  outline: none;
  color: var(--colorLetra);
  background-color: var(--backTrending);
  border: 1px solid var(--borderInput);
}

.controlBtn .btn .hoverBtnCamAct {
  background-color: var(--backBtnPurple);
  color: var(--backBtnWhite);
}

.controlBtn .gadgets .chronometer {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--colorLetra);
  position: absolute;
  display: none;
  right: 23.5rem;
  bottom: 110px;
}

.controlBtn .gadgets .repeatCapt {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  -webkit-text-decoration-color: #5ED7C6;
          text-decoration-color: #5ED7C6;
  text-decoration-thickness: 3px;
  color: var(--colorLetra);
  position: absolute;
  display: none;
  right: 23.5rem;
  bottom: 110px;
}

.controlBtn .hr--border7 {
  background-color: var(--borderInput);
  width: 48rem;
  height: 0.5rem;
}

.controlBtn .btnStart {
  display: block;
}

.controlBtn .btnStart button {
  width: auto;
  margin: 1rem;
  border-radius: 30px;
  font-size: 13px;
  padding: 16px 24px;
  outline: none;
  color: var(--colorLetra);
  background-color: var(--backTrending);
  border: 1px solid var(--borderInput);
}

.controlBtn .btnStart button:hover {
  background-color: var(--backBtnPurple);
  color: var(--backBtnWhite);
}
/*# sourceMappingURL=style.css.map */