* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

header {
  /* position: fixed; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 4px solid #572EE5;
}

header .img {
  width: 10%;
  margin-left: 110px;
  margin-top: 18px;
}

header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9CAFC3;
  margin-top: 22px;
}

header .search input {
  width: 334px;
  height: 50px;
  font-size: 16px;
  line-height: 19px;
  border-radius: 40px;
  border: 1px solid #572EE5;
}

header .search_img img {
  position: relative;
  top: 15px;
  right: 40px;
}

header .nav {
  width: 40%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #572EE5;
  font-size: 13px;
  line-height: 16px;
  margin-right: 100px;
}

header .nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .nav nav ul {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
}

header .nav nav ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style: none;
}

header .nav nav .btn {
  margin-left: 30px;
  margin-top: 20px;
}

header .nav nav .btn button {
  border: 1px solid #572EE5;
  color: #572EE5;
  background-color: white;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  font-size: 40px;
}

header .nav nav .btn button:hover {
  color: white;
  background-color: #572ee5;
}

.mainPage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPage .title {
  margin-top: 76px;
  font-size: 35px;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #572EE5;
}

.mainPage .title :last-child {
  text-align: center;
}

.mainPage .title a {
  color: #50E3C2;
}

.mainPage .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
}

.mainPage .search_img-central {
  margin: auto;
}

.mainPage .search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainPage .search_bar input {
  width: 599px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid #572EE5;
  color: #9CAFC3;
  font-size: 16px;
  line-height: 19px;
}

.mainPage .search_bar .search_img {
  cursor: pointer;
  position: relative;
  top: 15px;
  right: 40px;
}

.mainPage .search_bar .search_img img {
  pointer-events: none;
}

.mainPage .trending {
  margin-top: 73px;
}

.mainPage .trending :first-child {
  text-align: center;
}

.mainPage .trending p {
  font-family: 'Montserrat', sans-serif;
  font-weight: medium;
  color: #572EE5;
  margin: 10px;
}

.mainPage .gifCtn {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #572EE5;
}

.mainPage .gifCtn hr {
  margin: auto;
  width: 40%;
  margin-top: 40px;
  border: 1px solid #9CAFC3;
}

.mainPage .gifCtn .title {
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}

.mainPage .gifCtn .gifBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 0px 130px;
}

.mainPage .gifCtn .gifBox .box {
  border: 1px dotted #572EE5;
  width: 230px;
  height: 200px;
}

.mainPage .gifCtn .gifBox .box_img img {
  width: 100%;
}

.mainPage .gifCtn .btn {
  margin-top: 70px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainPage .gifCtn .btn button {
  color: #572EE5;
  font-weight: bold;
  background-color: white;
  width: 110px;
  height: 45px;
  border-radius: 25px;
  border: 1px solid #572EE5;
}

.mainPage .gifCtn .btn button:hover {
  color: white;
  background-color: #572ee5;
}

.trendingBox {
  height: 600px;
  background-color: #F3F5F8;
}

.trendingBox .trendingSection {
  position: relative;
  top: 70px;
}

.trendingBox .trendingSection_Title {
  text-align: center;
}

.trendingBox .trendingSection_Title :first-child {
  font-size: 25px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #572EE5;
}

.trendingBox .trendingSection_Carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.trendingBox .trendingSection_Carousel .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendingBox .trendingSection_Carousel .btn button {
  color: #572EE5;
  font-size: 25px;
  border: 1px solid #572EE5;
  width: 40px;
  height: 40px;
}

.trendingBox .trendingSection_Carousel .carousel {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trendingBox .trendingSection_Carousel .carousel .box {
  border: 1px dotted #572EE5;
  width: 330px;
  height: 250px;
}

footer {
  height: 60px;
  margin-top: 50px;
  border-bottom: 3px solid #572EE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

footer .shareIcon {
  margin-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

footer .shareIcon p {
  font-size: 18px;
  line-height: 15px;
}

footer .shareIcon a img {
  margin: 0 20px;
}

footer .autoRigths {
  font-size: 15px;
  line-height: 15px;
  margin-right: 150px;
  float: right;
}
/*# sourceMappingURL=style.css.map */