*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fetchFavGiphy{
    width: 100%;
    height: auto;
    
    display: none;
    flex-direction: column;
    align-items: center;

    .favTitles{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 30px;
            height: 23px;
        }

        h2{
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 1.5rem;
            font-weight: bold;
        }
    }

    .sectionGifFavoritos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .gyphy{
            font-family: 'Montserrat', sans-serif;
            width: 90%;
            display: grid;
            grid-template-columns: repeat(2,minmax(140px,1fr));
            grid-auto-rows: 7.5rem;
            justify-content: center;
            gap: 15px;
    
            .giphyBox{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-repeat: no-repeat;
                background-size: cover;
                background-position:center;
                padding: 5px;
    
                &:hover{
                    .buttons{
                        z-index: 2;
                        visibility: visible;
                    }
    
                    .titles{
                        z-index: 2;
                        visibility: visible;
                    }
    
                    &::before{
                        content:"";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top:0;
                        left:0;
                        background: #572EE5;
                        opacity:0.7;
                        z-index: 1;
                    } 
                }
                .buttons{
                    visibility: hidden; 
                    display: flex;
                    justify-content: flex-end;
                    button{
                        margin-left: 10px;
                        border: none;
                        border-radius: 5px;
                        i{
                            font-size: 18px;
                            padding: 4px;
                        }
                    }
                    
                }
    
                .titles{
                    visibility: hidden; 
                   font-size: 15px;
                }
    
                
            }
            .addFont{
                #buttonHeart{
                    color: rgb(243, 6, 6);
                }
            }
        }

    }

}

@media (min-width: 590px) {

    
    .fetchFavGiphy{
        
        .favTitles{
    
            h2{
              
                font-size: 30px;
            }
        }

        .gyphy{
            grid-template-columns: repeat(3,minmax(200px,1fr));
            grid-auto-rows: 14rem;

            .giphyBox{
              
                .buttons{
                    
                    button{
    
                        i{
                            font-size: 24px;
                            padding: 5px;
                        }
                    }
                    
                }
    
                .titles{
                    font-size: 22px;
                }
    
                
            }
        }
    }

}

@media (min-width: 900px) {

    .fetchFavGiphy{

        .favTitles{
            
            margin-top: 20px;

            h2{
              
                font-size: 30px;
            }
        }

        .gyphy{
            grid-template-columns: repeat(4,minmax(230px,1fr));
            grid-auto-rows: 18rem;

            .giphyBox{
              
                .buttons{
                    
                    button{
    
                        i{
                            font-size: 28px;
                            padding: 6px;
                        }
                    }
                    
                }
    
                .titles{
                    font-size: 25px;
                }
    
                
            }
        }
    }

}