* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.trendingGif {
  background: #F3F5F8;
  height: auto;
  padding-top: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.trendingGif .trendingSection_Title {
  color: var(--colorLetraBlack);
  text-align: center;
  margin-bottom: 1rem;
}

.trendingGif .trendingSection_Title :first-child {
  font-size: 1.7rem;
  line-height: 1.8rem;
  font-weight: bold;
}

.trendingGif .trendingSection_Title :last-child {
  font-size: 1.4rem;
}

.trendingGif .trendingSection_Carousel {
  padding-bottom: 3rem;
}

.trendingGif .trendingSection_Carousel .carousel {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.trendingGif .trendingSection_Carousel .carousel .ctn-slide {
  position: relative;
  width: 100%;
}

.trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 17.375rem;
  padding: 10px;
}

.trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox:hover .buttons {
  z-index: 2;
  visibility: visible;
}

.trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox:hover .titles {
  z-index: 2;
  visibility: visible;
}

.trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #572EE5;
  opacity: 0.7;
  z-index: 1;
}

.trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox .buttons {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox .buttons button {
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}

.trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox .buttons button i {
  font-size: 25px;
  padding: 4px;
}

.trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox .titles {
  visibility: hidden;
  font-size: 20px;
}

.trendingGif .trendingSection_Carousel .carousel .ctn-slide .addFont #buttonHeart {
  color: #e60505;
}

@media (min-width: 590px) {
  .trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox {
    height: 16rem;
  }
  .trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox .buttons button i {
    font-size: 27px;
    padding: 5px;
  }
  .trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox .titles {
    font-size: 24px;
  }
}

@media (min-width: 900px) {
  .trendingGif .trendingSection_Title {
    margin-bottom: 2rem;
  }
  .trendingGif .trendingSection_Title :first-child {
    font-size: 2rem;
  }
  .trendingGif .trendingSection_Title :last-child {
    font-size: 1.6rem;
  }
  .trendingGif .trendingSection_Carousel {
    padding-bottom: 4rem;
  }
  .trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox {
    height: 19rem;
  }
  .trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox .buttons button i {
    font-size: 28px;
    padding: 6px;
  }
  .trendingGif .trendingSection_Carousel .carousel .ctn-slide .giphyBox .titles {
    font-size: 25px;
  }
}
/*# sourceMappingURL=trendingGif.css.map */